:root {
  --imageWidth: 40vw;
  --initialSize: 75%;
  --animationDuration: 2.3s;
}

.relative {
  position: relative;
  width: var(--imageWidth);
  height: calc(var(--imageWidth) / 3.35);
 }

.logo {   
  width: var(--initialSize);
  height: var(--initialSize);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}

.black {
  background-image: url('totvs-icon-black.svg');
  z-index: 99;
}

.yellow {
  background-image: url('totvs-icon-yellow.svg');
  z-index: 97;
  opacity: 0.8;
}

.blue {
  background-image: url('totvs-icon-blue.svg');
  z-index: 98;
  opacity: 0.8;
}

.center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  0%, 20%, 40%, 100% {
    width: var(--initialSize);
    height: var(--initialSize);
  }
  15%, 35% {
    width: 90%;
    height: 90%;
  }
}

.pulse {
  animation-duration: var(--animationDuration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pulse.normal {
  animation-name: pulse;
}

@keyframes pulse-left {
  0%, 20%, 40%, 100% {
    width: var(--initialSize);
    height: var(--initialSize);
    transform: translate(-50%, -50%);
  }
  15%, 35% {
    width: 90%;
    height: 90%;
    transform: translate(-51.5%, -50%);
  }
}

.pulse.left {
  animation-name: pulse-left;
}

@keyframes pulse-right {
  0%, 20%, 40%, 100% {
    width: var(--initialSize);
    height: var(--initialSize);
    transform: translate(-50%, -50%);
  }
  15%, 35% {
    width: 90%;
    height: 90%;
    transform: translate(-49%, -50%);
  }
}

.pulse.right {
  animation-name: pulse-right;
}