:root {
  --animationDuration: 1.8s;
}

.size {
  width: 50vw;
  height: calc(0.29 * 50vw);
  max-width: 329px;
  max-height: 98px;
}

.first {
  z-index: 100;
}
.second {
  z-index: 98;
}
.third {
  z-index: 97;
}

.logo {  
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}

.front {
  background-image: url('totvs-icon-front.svg');  
}

.bg-1 {
  background-image: url('totvs-icon-bg-1.svg');
}

.bg-2 {
  background-image: url('totvs-icon-bg-2.svg');
}

@keyframes pulse {
  0%, 20%, 40%, 100%  {
    transform: scale(1);
  }
  15%, 35% {
    transform: scale(1.3);
  }
}

.pulse {
  animation-duration: var(--animationDuration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pulse.normal {
  animation-name: pulse;
}

@keyframes pulse-left {
  0%, 20%, 40%, 100%  {
    transform: scale(1);
  }
  15%, 35% {
    transform: scale(1.3) translate(-1.5%);
  }
}

.pulse.left {
  animation-name: pulse-left;
}

@keyframes pulse-right {
  0%, 20%, 40%, 100%  {
    transform: scale(1);
  }
  15%, 35% {
    transform: scale(1.3) translate(1.5%);
  }
}

.pulse.right {
  animation-name: pulse-right;
}

.center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}